---
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import { CATEGORIES } from "../../consts";
import { createSlug, sortProjects, treeifyHeadings } from "../../util/generatePages";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Layout from "../../layouts/Layout.astro";
import TextIcon from "@lucide/astro/icons/text";
import AsideRoot from "../../components/aside/AsideRoot.astro";

export const getStaticPaths = (async () => {
  const projects = await getCollection("posts");

  return CATEGORIES.flatMap((category) => {
    const categoryProjects = projects.filter((project) => project.data.category === category);

    categoryProjects.sort(sortProjects);

    return categoryProjects.map((project) => ({
      params: { category: createSlug(category), page: createSlug(project.data.title) },
      props: { project, titles: { category, page: project.data.title } },
    }));
  });
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { category, page } = Astro.params;
const { project, titles } = Astro.props;
const { Content, headings: rawHeadings } = await render(project);

const headings = treeifyHeadings(rawHeadings);
---

<Layout title={titles.page} description={project.data.summary}>
  <main class="min-w-0 px-6">
    <Breadcrumbs
      pages={[
        { name: "Home", path: "/" },
        { name: titles.category, path: `/${category}` },
        { name: titles.page, path: `/${category}/${page}` },
      ]}
    />
    <article id="article" class="prose max-w-none pb-8 prose-gray">
      <Content />
    </article>
  </main>
  <aside class="sticky top-0 hidden h-dvh pt-4 pb-16 md:block">
    <div class="size-full text-gray-600">
      <span class="flex items-center gap-2 pb-2 font-semibold"><TextIcon class="size-4" />On This Page</span>
      <AsideRoot headings={headings} />
    </div>
  </aside>
</Layout>
